<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBo3EynYeqCYGx3yC3w44sx2VhuuanevnU</string>
	<key>GCM_SENDER_ID</key>
	<string>504993781564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.omnibus.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hello-world-91795</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-world-91795.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504993781564:ios:6fce0aca05ddf4deae7039</string>
</dict>
</plist>